<nav class="navbar navbar-expand-lg navbar-dark" margin-bottom="30px">
  <a class="navbar-brand" style="color: white" href="/book"
  >Library Management</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
    </ul>
    <a id="welcome" *ngIf="isLoggedIn">Welcome, {{ firstName }}!</a>
    <button
      id="loginBtn"
      *ngIf="isLoggedIn"
      style="color: white"
      (click)="logout()"
    >
      Logout
    </button>
    <button
      id="logoutBtn"
      *ngIf="!isLoggedIn"
      style="color: white"
      (click)="login()"
    >
      Login
    </button>
  </div>
</nav>
<main>
  <div class="card">
    <div class="container">
      <div class="image">
        <img [src]="book?.coverImage" alt="">
      </div>
      <div class="details">
        <h2>{{book?.title}}</h2>
        <h3>{{book?.subtitle}}</h3>
        <p>Author: <b>{{book?.author}}</b></p>
        <p>Publishing House: <b>{{book?.publishingHouse}}</b></p>
      </div>
      <div class="review-form">
        <form action="">
          <div class="form-input">
            <label for="review-title">Title: <br>
              <input type="text" id="review-title"></label>
          </div>
          <div class="form-input">
            <label for="review-title">Review:<br>
              <input type="text" id="review">
            </label>

          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="all-reviews">
    <div *ngFor="let rating of ratings">
      {{rating.review_title}},
      {{rating.review}},
      {{rating.date}},
      {{rating.rating}}
    </div>
  </div>
</main>

